---
import { CategoriesTable } from "../components/CategoriesTable";
import Head from "../components/Head.astro";
import { Navigation } from "../components/Navigation";
import type { Category } from "../types/Category";

const categoriesReq = await fetch(
  `http://localhost:${import.meta.env.PUBLIC_SERVER_PORT}/categories`
);
const categories = (await categoriesReq.json()) as Category[];
---

<html lang="en">
  <Head />
  <body class="bg-gray-900 p-12">
    <Navigation pathname={Astro.url.pathname} />
    {categories && <CategoriesTable categories={categories} />}
  </body>
</html>
